[submodule "hack-replay/test-new-hack/lib/forge-std"]
	path = hack-replay/test-new-hack/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hack-replay/test-reentrancy/lib/forge-std"]
	path = hack-replay/test-reentrancy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
